<div id="<%= dom_id diary %>" class="diary-content">
  <div>
    <p class="diary-title">
      <% if diary.auto_delete %>
        <%= image_tag "clock.svg", class: "auto-delete-icon" %>
        <%= image_tag "check.svg", class: "auto-delete-icon" %>
      <% end %>
      <span><%= diary.title %></span>
    </p>
  </div>

  <div>
    <div class="diary-summary">
      <%= markdown(diary.summary) %>
    </div>
  </div>
    
  <% if diary.has_more? %>
    <%= link_to diary_path(diary), class: "read-more-row" do %>
      <span class="read-more">続きをよむ</span>
    <% end %>
  <% end %>

  <div class="diary-footer-actions">
    <p class="item-actions action-margin">
      <%= link_to "メモを開く", diary_path(diary), class: "btn" %>
    </p>

    <% if diary.category.present? %>
      <div class="tag-list item-right-small">
        Tag : <%= diary.category.name %>
      </div>
    <% end %>

    <p class="item-right-small">
      <%= diary.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </p>
    
  </div>
  
</div>
