<%= form_with(model: diary) do |form| %>
  <% if diary.errors.any? %>
    <div style="color: red">
      <p><%= pluralize(diary.errors.count, "error") %> が原因で保存できませんでした:</p>

      <ul>
        <% diary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-wrapper">
    
    <div class="form-field">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "input-common" %>
    </div>

    <div class="form-field">
      <%= form.label :body, style: "display: block" %>

      <p class="body-help-text">
        &lt;!--more--&gt; を入れると、見せたいところまでを一覧に表示できます
      </p>

      <%= form.text_area :body, placeholder: "Markdown記法が使えます", class: "input-body", id: "diary_body" %>
    </div>

    <div class="form-field">
      <%= form.label :category_id, "タグ", style: "display: block" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "選択してください" }, { class: "input-common" } %>
    </div>

    <div class="form-field checkbox-row">
      <%= form.check_box :auto_delete, class: "check-large" %>
      <%= form.label :auto_delete, "30分でメモを自動的に削除する", class: "label-inline" %>
    </div>

    <div class="sticky-submit-container">
      <div class="sticky-submit-inner">
        <%= form.submit diary.persisted? ? "更新する" : "投稿する", class: "btn-large" %>
        <span id="char-count-display" class="char-count-sticky">0 文字</span>
      </div>
    </div>
  </div>
<% end %>
