<div class="page-container">
  <p class="page-title">カテゴリを作成</p>

  <%= form_with model: @category, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name, "カテゴリ名" %><br>
      <%= form.text_field :name, class: "text-field" %>
    </div>

    <div class="item-actions">
      <%= form.submit "作成する", class: "btn" %>
    </div>
  <% end %>

  <div class="item-actions">
    <%= link_to "戻る", categories_path, class: "btn" %>
  </div>

  <div class="item-actions">
    <%= link_to "メモ作成画面に戻る", new_diary_path %>
  </div>

</div>
